{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Generate Blog</title> <!-- Update the title -->
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!-- Responsive-->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<!-- fevicon -->
<link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<style>
  .send_bt  {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #ff5a58;
    padding: 10px 0px;
    text-transform: uppercase;
    border-radius: 30px;
}
</style>
<body>
  <!--header section start -->
    <div class="header_section header_bg">
        {% include 'saas_app/header.html' %}

    </div>
    <!-- Add this block to display error messages -->
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

    <!--header section end -->
    <!-- contact section start -->
   <!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container-fluid">
      <h1 class="what_taital">Generate Blog</h1>
      <p class="amet_text">Generate Blog text with our Blog text generating website</p>
      <p class="remaining_words_text">Remaining Words Left: {{ words_left_today }}</p>
      <form method="post">
        {% csrf_token %}
  
        <div class="contact_section2">
          <div class="row">
            <div class="col-md-6 padding_left_0">
              <div class="mail_section">
                <div class="form-group">
                  <label for="title">Title:</label>
                  <input type="text" id="title" name="title" class="mail_text_1" placeholder="Enter your title">
                </div>
                <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea id="description" name="description" class="mail_text_1" rows="4" cols="50" placeholder="Enter your description"></textarea>
                </div>
                <div class="form-group">
                  <label for="total_words">Total Words:</label>
                  <input type="number" id="total_words" name="total_words" class="mail_text_1" min="1" placeholder="Enter total words">
                </div>
                <div class="form-group">
                  <button type="submit" class="send_bt">Generate</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 padding_0">
              <div class="map-responsive">
                <!-- You can keep the map or remove it based on your preference -->
                <img src="{% static 'images/image copy.png' %}" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen="">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="footer_section layout_padding margin_top_90">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">About Financial</h4>
            <div class="location_text"><img src="{% static 'images/map-icon.png' %}"><span class="padding_left_15">Locations</span></div>
            <div class="location_text"><img src="{% static 'images/call-icon.png' %}"><span class="padding_left_15">+01 9876543210</span></div>
            <div class="location_text"><img src="{% static 'images/mail-icon.png' %}"><span class="padding_left_15">demo@gmail.com</span></div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">About Financial</h4>
            <p class="dolor_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">Instagram</h4>
            <div class="footer_images">
              <div class="footer_images_left">
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
              </div>
              <div class="footer_images_right">
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
                <div class="image_12"><img src="{% static 'images/img-12.png' %}"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="about_text">Newsletter</h4>
            <input type="text" class="mail_text" placeholder="Enter your email" name="Enter your email">
            <div class="subscribe_bt"><a href="/services/">Subscribe</a></div>
            <div class="footer_social_icon">
              <ul>
                <li><a href="#"><img src="{% static 'images/fb-icon1.png' %}"></a></li>
                 <li><a href="#"><img src="{% static 'images/twitter-icon1.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/linkedin-icon1.png' %}"></a></li>
                <li><a href="#"><img src="{% static 'images/youtub-icon1.png' %}"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- copyright section start -->
        <div class="copyright_section">
          <div class="copyright_text">Copyright 2019 All Right Reserved By Yahya bin Usman</div>
        </div>
        <!-- copyright section end -->
      </div>
    </div>
    <!--footer section end -->
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript --> 
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script> 
</body>
</html>
